<div ng-controller="ProfileController as vm">

	<div class="row">
		<div class="col-md-12">
			<div class="page-title">
				<h2 ng-bind="vm.userData.user.fullName"></h2>
				<span class="badge alert-success" ng-bind="vm.userData.user.title"></span>
			</div>	
		</div>
	</div>
	
	
	<!-- skills -->
	<div class="row">
		<div class="col-md-6" ng-repeat="skill in vm.skills | orderBy:'-rating'">
			<skill-rating skill="skill" on-delete="vm.deleteSkill(skill)" on-update="vm.updateSkill(skill, oldSkill)"></skill-rating>
		</div>
	</div>

	<!-- projects -->
	<project ng-repeat="project in vm.projects" 
			 title="{{ project.title }}" 
			 lead="{{ project.lead }}" 
			 intro="{{ project.intro }}"
			 contribution="{{ project.contribution }}"
			 tags="project.tags">
	</project>
	
</div>