@import "http://fonts.googleapis.com/css?family=Roboto:400,300";

@border-color: #ccc;
@navbar-height: 70px;

@white: #f3f3f3;
@header-hover-link: #cfcfcf;
@community-blue: #2e92cf;

@post-background-color: #f7f7f7;
@post-lead-color: #ccc;

@footer-background: #f7f7f7;
@footer-height: 200px;